<%- contentFor('content') %>

<div class="border p-3 mt-3">
  <form method="POST" action="/tickets/<%= ticket.ticket_id %>/delete">
    <legend><strong>Delete Ticket</strong></legend>

    <div>
      <p>Are you sure you wish to delete the following?</p>
      <table class="table border">
        <thead>
          <tr>
            <th>Ticket No.</th>
            <th>Flight id</th>
            <th>Passenger id</th>
            <th>Passenger Name</th>
          </tr>
        </thead>
        <tr>
          <td><%= ticket.ticket_id %></td>
          <td><%= ticket.flight_id %></td>
          <td><%= ticket.passenger_id %></td>
          <td><%= ticket.first_name %> <%= ticket.last_name %></td>
        </tr>
      </table>
    </div>

    <div class="mt-3">
      <input class="btn btn-danger" type="submit" value="Delete Ticket">
      <input class="btn btn-secondary" type="button" value="Cancel" onClick="javascript:history.back()">
    </div>
  </form>
</div>