<%- contentFor('content') %>

<div class="border p-3 mt-3">
  <form method="POST" action="/models/<%= model.model_id %>/delete">
    <legend><strong>Delete Model</strong></legend>

    <div>
      <p>Are you sure you wish to delete the following?</p>
      <table class="table border">
        <thead>
          <tr>
            <th>Model No.</th>
            <th>Model Name</th>
            <th>Capacity</th>
          </tr>
        </thead>
        <tr>
          <td><%= model.model_id %></td>
          <td><%= model.model_name %></td>
          <td><%= model.capacity %></td>
        </tr>
      </table>
    </div>

    <div class="mt-3">
      <input class="btn btn-danger" type="submit" value="Delete Model">
      <input class="btn btn-secondary" type="button" value="Cancel" onClick="javascript:history.back()">
    </div>
  </form>
</div>