<%- contentFor('content') %>

<div class="mt-3">
  <a href="/planes/new">New Plane</a>
</div>

<table class="table table-striped border mt-3">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Plane No.</th>
      <th scope="col">Model</th>
      <th scope="col">Mileage</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>

  <tbody class="table-group-divider">
    <% for (const plane of planes) { %>
      <tr>
        <td><%= plane.plane_id %></td>
        <td><%= plane.model_name %></td>
        <td><%= plane.mileage %></td>
        <td><a href="/planes/<%= plane.plane_id %>/edit">edit</a></td>
        <td><a href="/planes/<%= plane.plane_id %>/confirm_delete">delete</a></td>
      </tr>
    <% } %>
  </tbody>
</table>



  </body>
</html>
