<%- contentFor('header') %>
Flights

<%- contentFor('content') %>

<div class="mt-3">
  <a href="/flights/new">New Flight</a>
</div>

<table class="table table-striped border mt-3">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Flight</th>
      <th scope="col">Plane</th>
      <th scope="col">Depart</th>
      <th scope="col">Arrive</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>

  <tbody class="table-group-divider">
    <% for (const flight of flights) { %>
      <tr>
        <td><%= flight.depart_code %> to <%= flight.arrive_code %></td>
        <td>
          <% if (!flight.plane_id) { %>
            None Assigned
          <% } else { %>
            #<%= flight.plane_id %> <%= flight.model_name %>
          <% } %>
        </td>
        <td> <%= flight.departure_time.toLocaleString() %> </td>
        <td> <%= flight.arrival_time.toLocaleString() %> </td>
        <td><a href="/flights/<%= flight.flight_id %>/edit">edit</a></td>
        <td><a href="/flights/<%= flight.flight_id %>/confirm_delete">delete</a></td>
      </tr>
    <% } %>
  </tbody>
</table>



  </body>
</html>
